/*-----------------------------------------------------------------------------------

    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 3.0
    Copyright 2021-2022
	  Author URI: https://themeforest.net/user/ashishmaraviya

-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
    Background Image-1
-----------------------------------------------------------------------------------*/
.body-bg-1 {
  background-image: url(../../images/bg/background-1.png);
  background-size: cover;
  background-attachment: fixed;
}