/*-----------------------------------------------------------------------------------

    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 3.0
    Copyright 2021-2022
    Author URI: https://themeforest.net/user/ashishmaraviya

-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
    Background Image-2
-----------------------------------------------------------------------------------*/
.body-bg-2 {
  background-image: url(../../images/bg/background-2.png);
  background-size: cover;
  background-attachment: fixed;
}