/*-----------------------------------------------------------------------------------

    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 3.0
    Copyright 2021-2022
	Author URI: https://themeforest.net/user/ashishmaraviya

-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
    Background Image-4
-----------------------------------------------------------------------------------*/
.body-bg-4 {
  background-color: #fff;
}